*{
    background-color: white;
    font-family: sans-serif;
}
.bio{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 10px;
}
.intro{
    display: inline-block;
    border-bottom: 1px solid black;
    text-align: center;
    width: 100%;
}